*{
 margin: 0;
 padding: 0;  

}
.cabecalho{
    background-color: rgb(87, 0, 167);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}

.cabecalho-div{
    display: flex;
}